
.crx_mouse_visited {
    background-color: #bcd5eb !important;
    outline: 1px solid #5166bb !important;
}

.crx_mouse_checked {
    background-color: #bcd5eb !important;
    outline: 1px solid #0428b0 !important;
}

[crx_mouse_visited="mousemove"]{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

[crx_mouse_visited="mousemove"]::before{
    content: attr(currentstate);
    color: #1e2326;
    position: absolute;
    display:block;
    background-color: yellow;
    z-index: -1;
    border-style: solid;
    border-width: thin;
}

.crx_mouse_visited:active:hover:before{
    content: attr(currentstate);
    color: #1e2326;
    position: absolute;
    display:block;
    background-color: yellow;
    z-index: -1;
    border-style: solid;
    border-width: thin;
}

#selector_checkbox{
    width:30px;
    height:30px;
    background:black;
    z-index: 9999;
    position:relative;
    overflow:hidden;
    cursor:crosshair;
}





.editing_on{
    -webkit-user-modify: read-write;
    -moz-user-modify: read-write;
    border: 2px solid red;
    user-modify: read-write;
}



#toolbar{
    margin-top: -100px;
    z-index: 11999;
    background-color: wheat;
    position: absolute;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    }
.topbar-button {
    font-family: 'ubuntu', sans-serif;

    font-size: 15px;
    border: 0;
    padding: 20px 24px 30px 21px;
    cursor: pointer;

    float: right;
    height: 40px;
    margin-top: 5px;
}

button,i{
    width: 32px;
    height: 32px;
}
